* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

body {
  font-family: Verdana, sans-serif;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
}