@import "../../variables.scss";

.wrapper {
    display: flex;
    padding: 20px 200px;
    justify-content: center;

    .galery {
        display: flex;
    }

    .other_images {
        display: flex;
        flex-direction: column;
        align-items: center;

        .other_image {
            cursor: pointer;
            width: 200px;
            margin: 2px 2px;

            &:hover {
                outline: 1px solid $border-color;
            }
        }
    }

    .image {
        width: 600px;
    }

    .information {
        .main_information {
            border: 1px solid $border-color;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 15px 15px;
        }

        .title {
            font-weight: 500;
            margin-bottom: 5px;
        }

        .rating {
            user-select: none;
            -webkit-user-select: none;
            color: #ffd700;

            .rating_number {
                font-size: 12px;
                margin-right: 10px;
                color: #303030;
            }
        }

        .available_info {
            font-size: 15px;
            color: #303030;
        }

        .price {
            margin-top: 10px;
        }

        .added_wrapper,
        .add_button {
            margin-top: 20px;
        }

        .delivery_title {
            font-weight: 500;
            margin-bottom: 10px;
        }

        .delivery_info {
            padding: 15px 15px;
            border: 1px solid $border-color;
            border-radius: 5px;

            .delivery_row {
                display: flex;
                align-items: center;

                .delivery_icon {
                    width: 30px;
                    margin-right: 20px;
                }
            }
        }

        .added_wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            .added_button {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                background: #f0f0f0;
                border-radius: 15px;

                .piece {
                    cursor: pointer;
                    padding: 10px 20px;
                    user-select: none;
                    -webkit-user-select: none;
                    border-radius: 15px;

                    &:hover {
                        background: #d4d4d4;
                    }
                }

                .added {
                    text-align: center;
                    width: 140px;
                }
            }

            .added_input {
                margin-top: 10px;
                font-size: 18px;
                width: 50px;
            }
        }

        .add_button {
            cursor: pointer;
            font-size: 20px;
            padding: 10px 60px;
            border: 0px;
            border-radius: 15px;
            background: #f0f0f0;

            &:hover {
                background: #d4d4d4;
            }
        }
    }
}