.wrapper {
    display: flex;
    padding: 20px 200px;

    .galery {
        display: flex;
    }

    .other_images {
        display: flex;
        flex-direction: column;
        align-items: center;

        .other_image {
            width: 200px;
        }
    }

    .image {
        width: 600px;
    }

    .information {
        .added_wrapper {
            display: flex;
            align-items: center;
            flex-direction: column;

            .added_button {
                display: flex;
                flex-wrap: nowrap;
                align-items: center;
                justify-content: space-between;
                font-size: 20px;
                background: #f0f0f0;
                border-radius: 15px;
    
                .piece {
                    cursor: pointer;
                    padding: 10px 20px;
                    user-select: none;
                    -webkit-user-select: none;
    
                    &:hover {
                        background: #d4d4d4;
                        border-radius: 15px;
                    }
                }
    
                .added {
                    text-align: center;
                    width: 120px;
                }
            }
    
            .added_input {
                margin-top: 10px;
                font-size: 18px;
                width: 50px;
            }
        }

        .add_button {
            cursor: pointer;
            font-size: 20px;
            padding: 10px 60px;
            border: 0px;
            border-radius: 15px;
        }
    }
}